<template>
  <div>
    <Header />
    <v-container>
      <v-row>
        <v-col v-for="post in posts" :key="post.id" cols="6" sm="4" lg="3">
          <PostList :post="post" />
        </v-col>
      </v-row>
    </v-container>
    <Footer />
  </div>
</template>

<script>
import Header from '@/components/Header.vue'
import Footer from '@/components/Footer.vue'
import PostList from '@/components/PostList.vue'

export default {
  components: {
    Header,
    Footer,
    PostList,
  },
  async asyncData({ $axios }) {
    const posts = await $axios.$get(
      'https://jsonplaceholder.typicode.com/posts'
    )
    return { posts }
  },
}
</script>

<style></style>
